<div id="dop1">
    <ul style="list-style-type: none">
        <li>Имя матери Вашего кота: <%=user.mom || 'Не указано'%></li>
        <br>
        <li>Возраст носка правой ноги: <%=user.sock || 'Не указан'%></li>
        <br>
        <li>Какой-нибудь день: <%=user.date || 'Не указан'%></li>
    </ul>
</div>