<div id="top">
    <ul id="top-panel">
        <a href="/"><li>Главная</li></a>
        <a href="/map"><li>Карта</li></a>
        <a href="#"><li>Бесполезная закладка</li></a>
        <a href="#"><li>JavaScript</li></a>
        <%if (log) {%> <%- '<a href="/login/out"><li>Выход</li></a>'%> <%}%>
    </ul>
</div>