<div id="dop1">
    <form id="inp" method="post" action="/login/data">
        <label style="margin: -1%">Имя матери Вашего кота:<input type="text" name="mom" size="15%" pattern="[A-Za-zА-Яа-я]+"></label><br><br>
        <label style="margin: -1%">Возраст носка правой ноги:<input type="number" name="sock" min="1" max="99"></label><br><br>
        <label style="margin: -1%">Какой-нибудь день:<input type="date" name="date"></label><br><br>
        <ul style="list-style-type: none">
            <li style="float: right">Сохранить<input type="radio" name="event" checked value="read"></li>
            <li style="float: right">Показать<input type="radio" name="event" value="write"></li>
        </ul>
        <button type="sumbit">Готово</button> <button type="reset">Сброс</button>
    </form>
</div>