<h1>Планета Меркурий</h1>
<img src="../img/mercury_1.jpg">
<p>
	<b>Радиус:</b> 2 440 км<br>
	<b>Масса:</b> 3,33·10<sup style="font-size: 12px">23</sup> кг<br>
	<b>Расстояние от Солнца:</b> 57 910 000 км<br>
	<b>Продолжительность суток:</b>  58 д 15 ч 30 мин<br>
	<b>Спутники:</b> отсутствуют
</p>
<p>Меркурий &ndash; самая близкая к Солнцу планета Солнечной системы. Планета названа в честь древнеримского бога торговли &ndash; быстроногого Меркурия, поскольку она движется по небесной сфере быстрее других планет.</p>
<p>Меркурий распоолжен ближе всех к Солнцу в Солнечной системе, что делает его самой горячей планетой. Из-за егонепосредственной близости к Солнцу температура поверхности может достигать 450&deg;C. Однако существует интересный факт о Меркурии: поскольку планета не имеет атмосферы и не может удерживать тепло, ночью температура опускается до -170&deg;C. Разница температур на Меркурии самая большая в Солнечной системе &ndash; более 600&deg;C.</p>
<img src="../img/mercury_2.jpg">
<p style="margin: 0 36%">Меркурий на фоне солнечного диска</p>
<p>Из-за отсутствия атмосферы и близости к Солнцу Меркурий подвержен внешним воздействиям, и поэтому изрешечен кратерами. Около 4 миллиардов лет назад астероид шириной примерно 100 километров нанёс удар Меркурию с силой, сравнимой с триллионом мегатонных бомб. При этом образовался огромный кратер шириной примерно 1550 км. Теперь он известен как Бассейн Калорис. Он мог бы вместить весь штат Техас.</p>